<strong>Olá, {{ deliveryman }}</strong>
<p style="color: red;"><strong>ATENÇÃO</strong></p>
<p>Uma remessa que está sob seus cuidados teve a entrega <strong>cancelada</strong>.</p>
<ul>
  <li>Remessa: {{ id }} | Nome do produto: {{ product }}</li>
</ul>
